.listing-container {
    margin-top: 20px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 130px;
    float: right;
    background-color: #D3DFC8;
    border-radius: 4px;
}

.listing-image {
    width: 20%;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.description-container {
    width: 60%;
    margin: 17px;
    /* background-color: blue; */
}

.description-title {
    font-size: 17px;
}

.description-body {
    margin-top: 10px;
    font-size: 15px;
}

.info-container {
    width: 15%;
    margin: 10px;
    padding: 7px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    background-color: rgb(154, 205, 189);
}