@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Public+Sans:ital,wght@1,200&display=swap');

h1, body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Comfortaa';
}

p {
  font-family: 'Public Sans';
}
