@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Public+Sans:ital,wght@1,200&display=swap');

h1, h2, h3, h4, h5, h6, body, p{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa';
}

body, p{
  font-family: 'Public Sans';
}
